
*{
  margin: 0;  /* jo hero.css file me design h p tag wala  style me gap h jo p.. likha h us gap ko hatane k liye ye lagaya h */
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  font-family: 'poppins';   /** index.html pr jo 3no link dali h aur maine sirf isi line ko likha h */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
